/* bubbles */
.bubble {
  display: flex;
  gap: 0.05rem;
}
.bubble div {
  width: 0.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0 0 1.5rem var(--color);
  animation: grow 1.3s ease-in-out infinite;
  animation-delay: var(--delay);
}
.text-bubble {
  display: flex;
  gap: 0.05rem;
}
.text-bubble div {
  width: 0.6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0 0 1.5rem var(--color);
  animation: grow 1.3s ease-in-out infinite;
  animation-delay: var(--delay);
}

@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.15);
  }
  20% {
    transform: scale(1);
  }
}

/* swiper bullets */

.latest-news-pagination-bullet {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.15rem;
  margin-top: 3.5rem;
}

.latest-news-pagination-bullet .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.25rem;
  background: #d4022c;
  border-radius: 1rem;
  transition: all 1.5s ease-in-out;
}

.latest-news-pagination-bullet .swiper-pagination-bullet-active {
  width: 1.25rem;
}
