/* site colors */
@theme {
  /* dark */
  --color-dark-1: #010103;
  --color-dark-2: #060606;
  --color-dark-3: #070707;
  --color-dark-4: #080808;
  --color-dark-5: #0a0a0a;
  /* light */
  --color-light-1: #919194;
  /* pr */
  --color-pr: #d4022c;
}
